@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hooper</h1>
    <h2>A Pet Finder for Disabled Pets</h2>
    <img src="~/images/dog2.jpg" class="img-fluid rounded mb-3" alt="dog">
    <br>
    <a class="btn btn-primary" asp-controller="Pet" asp-action="Index">View available pets!</a>
</div>

